<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quali-T Repair & Services</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel ="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'1e644730-d15f-4e43-873f-dc81885f4f07'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav center-block col-md-6 padding">
                        <li id="logo-container">
                            <a href='@Url.Action("Index","Home")'>
                                <img src="~/Content/images/QualiT-logo.png" alt="QualiT Logo" class="logo" />
                            </a>
                        </li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <hr />
        <div id="footerSection">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h5>ACCOUNT</h5>
                        <a href="login.html">YOUR ACCOUNT</a>
                        <a href="login.html">PERSONAL INFORMATION</a>
                        <a href="login.html">ADDRESSES</a>
                        <a href="login.html">DISCOUNT</a>
                        <a href="login.html">ORDER HISTORY</a>
                    </div>
                    <div class="col-md-3">
                        <h5>INFORMATION</h5>
                        <a href="contact.html">CONTACT</a>
                        <a href="register.html">REGISTRATION</a>
                        <a href="legal_notice.html">LEGAL NOTICE</a>
                        <a href="tac.html">TERMS AND CONDITIONS</a>
                        <a href="faq.html">FAQ</a>
                    </div>
                    <div class="col-md-3">
                        <h5>OUR OFFERS</h5>
                        <a href="#">NEW PRODUCTS</a>
                        <a href="#">TOP SELLERS</a>
                        <a href="special_offer.html">SPECIAL OFFERS</a>
                        <a href="#">MANUFACTURERS</a>
                        <a href="#">SUPPLIERS</a>
                    </div>
                    <div id="socialMedia" class="col-md-3 pull-right">
                        <h5>SOCIAL MEDIA </h5>
                        <a href="#"><img width="60" height="60" src="~/Content/images/facebook.png" title="facebook" alt="facebook" /></a>
                        <a href="#"><img width="60" height="60" src="~/Content/images/twitter.png" title="twitter" alt="twitter" /></a>
                        <a href="#"><img width="60" height="60" src="~/Content/images/youtube.png" title="youtube" alt="youtube" /></a>
                    </div>
                </div>
                <div class="row" id="reserved">
                    <div class="col-md-3 pull-right">
                        <a href="~/Views/Home/Index.cshtml"> @DateTime.Now.Year  &copy;  Quali-T Repairs & Services</a>
                        <h5><small> All Rights Reserved</small></h5>
                    </div>
                </div>

            </div><!-- Container End -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
            $('.carousel').carousel({
                interval: 5000
            })
    </script>
</body>
</html>
