@model Quali_T_Repair_and_Services.Models.Customer
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <h2>Quali-<span class="t">T</span> Repairs & Services</h2>
    <h4 id="tight"><small><i>Good Service makes the difference</i></small></h4>



</div>

<div class="col-md-12" style="background-color:#ffd800;">
    <div class="panel panel-default">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel-heading">
                <h4>Create a New Account</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6"> 
                        <div class="form-group">
                            @Html.LabelFor(m => m.Firstname, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Lastname, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.MobileNumber, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.MobileNumber, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

          
            

        }
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
